Craeting Mongo DB form speedskating

In [14]:
import pandas as pd
import pymongo as pymongo
from datetime import datetime
from datetime import timedelta

In [19]:
# Set up MongoDB
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Declare the database
db = client.speedskate_db

# Declare the collection
collection = db.speedskate_db

In [3]:
csv_file = "ladies-1500-2019-2020.csv"
speed_df = pd.read_csv(csv_file)
speed_df.head()

,rank,name,age,country,time,track,date
0,1,Miho Takagi,LSA,JPN,"1.50,33",Calgary (CAN),2/8/2020
1,2,Ireen W端st,L30,NED,"1.50,92",Salt Lake City (USA),2/16/2020
2,3,Evgeniia Lalenkova,LSA,RUS,"1.51,13",Salt Lake City (USA),2/16/2020
3,4,Elizaveta Kazelina,LN4,RUS,"1.51,41",Salt Lake City (USA),2/16/2020
4,5,Ivanie Blondin,L30,CAN,"1.51,76",Calgary (CAN),2/8/2020

In [ ]:
# Add column with distance
speed_df['distance'] = '1500'
speed_df

In [9]:
# get Time into Proper Format
def clean(x):
    '''function to clean results csv'''
    #Convert time to proper form and cast to float
    x['time']= x['time'].str.replace('.', ':')
    x['time']= x['time'].str.replace(',', ':')
    x['time']= x['time'].str.replace(' ', '')
    # Drop column
    #x=x.drop(columns = ['Unnamed: 5'])
    # Rename columns
    #x=x.rename(columns={'Unnamed: 2':'Age'})
    return x.head()

clean(speed_df)

,rank,name,age,country,time,track,date,distance
0,1,Miho Takagi,LSA,JPN,1:50:33,Calgary (CAN),2/8/2020,1500
1,2,Ireen W端st,L30,NED,1:50:92,Salt Lake City (USA),2/16/2020,1500
2,3,Evgeniia Lalenkova,LSA,RUS,1:51:13,Salt Lake City (USA),2/16/2020,1500
3,4,Elizaveta Kazelina,LN4,RUS,1:51:41,Salt Lake City (USA),2/16/2020,1500
4,5,Ivanie Blondin,L30,CAN,1:51:76,Calgary (CAN),2/8/2020,1500

In [17]:
speed_df.head()

,rank,name,age,country,time,track,date,distance
0,1,Miho Takagi,LSA,JPN,1:50:33,Calgary (CAN),2/8/2020,1500
1,2,Ireen W端st,L30,NED,1:50:92,Salt Lake City (USA),2/16/2020,1500
2,3,Evgeniia Lalenkova,LSA,RUS,1:51:13,Salt Lake City (USA),2/16/2020,1500
3,4,Elizaveta Kazelina,LN4,RUS,1:51:41,Salt Lake City (USA),2/16/2020,1500
4,5,Ivanie Blondin,L30,CAN,1:51:76,Calgary (CAN),2/8/2020,1500

In [ ]:
#def convert_date_string_to_datetime(time_string):
    #'''function to convert time to minutes'''
    #t=datetime.strptime(time_string, "%M:%S:%f")
    #delta = timedelta(minutes=t.minute,seconds=t.second)
    #return delta


#speed_df['datetime']= speed_df['time'].apply(convert_date_string_to_datetime)
#speed_df['Minutes'] = speed_df['datetime'].dt.seconds/60
#df[['Place' ,'Age', 'Bib No']] = df[['Place' ,'Age', 'Bib No']].astype(int)
#speed_df = speed_df.sort_values(by = 'datetime').reset_index(drop=True)

#speed_df.head()

In [20]:
# Insert the document into the database
# The database and collection, if they don't already exist, will be created at this point.
db.collection.insert_many(speed_df.to_dict('records'))